<link rel="stylesheet" href="styles.css" type="text/css" /> 
<br><br>
<div class="area">
	Congratulations!!!!
</div>
<br><br>
<div class="centered">
	<img src='cotton.jpg'>
	<img src='puppy.jpg'>
	<img src='unicorn.jpg'>
</div>
