<h1>Please enter your email and password:</h1>
<form action="/login" method="POST">
	<input type="text" name='email' placeholder="email">
	<input type="password" name='password' placeholder="password">
	<button type='submit'>Login</button>
</form>
<hr>
<h2>RULES FOR YOUR PASSWORD:</h2>
<ul>
	<li>The password must be longer than 7 characters</li>
	<li>The password must contain at least 1 letter, 1 number and 1 symbol (e.g. "#", "%", etc)</li>
	<li>The password must contain at least 1 uppercase and 1 lowercase letter</li>
	<li>The password must NOT contain neither the name nor the domain of the email.</li>
</ul>
<h3>
	If you are stuck, try a password like this: he1lOwoR7d$
</h3>