<!DOCTYPE html>
<html>
<head>
	<title>Sessions</title>
</head>
<body style="text-align: center">
	<h1>Sessions example</h1>
	&#9630; <a href='/'>Home</a> &#9630;
	<a href='/profile'>Profile</a> &#9630;
	<hr>
	<%= yield %>
</body>
</html>