<a href="/time">Time</a> ||
<a href="/">Home</a> ||
<a href="/about">About</a>

<h1 style='text-align: center'>
	PROFILE FOR:
	<%= @username.upcase %>
	<br>
	<img src="http://localhost:4567/__sinatra__/404.png">
</h1>