<!DOCTYPE html>
<html>
<head>
	<title>Add | Online Calculator</title>
</head>
<body>
	<h1>Add</h1>

	<form action="/calculate_add" method="POST">
		<input type="number" name="first_number" placeholder="1st number"> +
		<input type="number" name="second_number" placeholder="2nd number">

		<button type="submit">Calculate</button>
	</form>
</body>
</html>