<!DOCTYPE html>
<html>
<head>
	<title>Welcome to the Online Calculator!</title>
</head>
<body>
	<h1>Welcome to the Online Calculator!</h1>
	<h2>Select an option</h2>
	<h3>
		<a href="/add">Add</a> ||
		<a href="/substract">Substract</a> || 
		<a href="/multiply">Multiply</a> ||
		<a href="/divide">Divide</a>
	</h3>
</body>
</html>