<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>:: yet another blog ::</title>
    <link rel="icon" href="/logo.png" type="image/png">

    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700,300italic,400italic,500italic,700italic'>
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic'>
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,600,700,900'>
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic'>
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic'>
    <link rel='stylesheet prefetch' href='http://staticresource.s3.amazonaws.com/template/css/basic.css'>
    <link rel='stylesheet prefetch' href='http://staticresource.s3.amazonaws.com/template/plugins/buttons/data-buttons.css'>
    <link rel="stylesheet" href="/styles.css" type="text/css" />
  </head>
<body>
  <div>
    <a href='/' style='text-decoration: none; color:orange;'>
    <img src='/logo.png' height=150 style='vertical-align: middle;'/>
      <span style='font-size: 80px; vertical-align: middle;'>
        [yet_another_blog]
      </span>
    </a>
  </div>
  <hr />
  <%= yield %>
  <br />
  <hr />
</body>
