<h2>Write a new post for your audience</h2>
<br>
<form action="/new_post" method="POST">
  <input class="title" type="text" name="title" placeholder="Write a catchy title">
  <br />
  <textarea name="text" placeholder="Are you inspired?"></textarea>
  <br />
  <button class="btn btn_material" type="submit" name="operation" value="add">Save new post</button>
</form>

<script src="http://cdnjs.cloudflare.com/ajax/libs/eqcss/1.1.0/EQCSS-polyfills.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/eqcss/1.1.0/EQCSS.min.js"></script>
<script src="/js/textarea.js"></script>
